.b{border: 1px solid #C4C4C4} .b2{border: 2px solid #C4C4C4}  .b3{border: 3px solid #C4C4C4}.b4{border: 4px solid #C4C4C4}.b5{border: 5px solid #C4C4C4}.b6{border: 6px solid #C4C4C4}  
.b-box {box-sizing: border-box;}



.bb{border-bottom: 1px solid #C4C4C4;}.bb2{border-bottom : 2px solid #C4C4C4}  .bb3{border-bottom : 3px solid #C4C4C4}.bb4{border-bottom : 4px solid #C4C4C4}.bb5{border-bottom : 5px solid #C4C4C4}.bb6{border-bottom : 6px solid #C4C4C4}


.b-trans {border-color : transparent}

.b-orange{border-color:orange}.b-orange10{border-color:#FEA6001F}.b-orange25{border-color:#FEA60040}.b-orange50{border-color:#FEA60078}.b-orange75{border-color:#FEA6009E}

.b-gold{border-color:#E5BF00}.b-gold10{border-color:#E5BF0017}.b-gold25{border-color:#E5BF0038}.b-gold50{border-color:#E5BF0078}.b-gold75{border-color:#E5BF00B8}

.b-purple{border-color:purple}.b-purple10{border-color:#81007F1A}.b-purple25{border-color:#81007F42}.b-purple50{border-color:#81007F73}.b-purple75{border-color:#81007FAB}

.b-cyan{border-color:#23EAEA }.b-cyan10{border-color :#00FFFF1C}.b-cyan25{border-color :#00FFFF40}.b-cyan50{border-color :#00FFFF7D}.b-cyan75{border-color :#00FFFFBA}

.b-indigo{border-color:indigo}.b-indigo10{border-color:#4B00811C}.b-indigo25{border-color:#4B008140}.b-indigo50{border-color:#4B00817A}.b-indigo75{border-color:#4B0081AD}

.b-red{border-color:#DC3546}.b-red10{border-color:#DC35461C}.b-red25{border-color:#DC354645}.b-red50{border-color:#DC35467D}.b-red75{border-color:#DC3546C2}

.b-yellow{border-color:#FEC107 }.b-yellow10{border-color:#FEC1071F}.b-yellow25{border-color:#FEC1073D}.b-yellow50{border-color:#FEC1077A}.b-yellow75{border-color:#FEC107C2} 

.b-green{border-color : #25824F} .b-green10{border-color:#25824F1C} .b-green25{border-color:#25824F40}
.b-green50{border-color :#25824F78}.b-green75{border-color :#25824FBD}

.b-blue{border-color :#0D6EFD }.b-blue10{border-color: #0D6EFD1C}
.b-blue25{border-color :#0D6EFD42}.b-blue50{border-color :#0D6EFD7A}.b-blue75{border-color :#0D6EFDB8}

.b-night{border-color : #252525}.b-ebony{border-color : black}.b-snow{border-color :white}

.b-gray{border-color :#757F8A}.b-gray10{border-color :#757F8A1F}.b-gray25{border-color :#757F8A42}.b-gray50{border-color :#757F8A80}.b-gray75{border-color :#757F8ABA}

.b-lemon{border-color: #B1E548}.b-lemon10{border-color:#B1E5482E}.b-lemon25{border-color:#B1E5484D}.b-lemon50{border-color:#B1E5488A}.b-lemon75{border-color:#B1E548CF}

.b-pink{border-color: hotpink}.b-pink10{border-color:#FF69B31F}.b-pink25{border-color:#FF69B34A}.b-pink50{border-color:#FF69B385}.b-pink75{border-color:#FF69B3C4}







.active-b-trans:active {border-color : transparent}
.active-b:active{border: 1px solid #C4C4C4} .active-b2:active{border: 2px solid #C4C4C4}  .active-b3:active{border: 3px solid #C4C4C4}.active-b4:active{border: 4px solid #C4C4C4}.active-b5:active{border: 5px solid #C4C4C4}.active-b6:active{border: 6px solid #C4C4C4}

.active-b-orange:active{border-color:orange}  .active-b-gold:active{border-color:#E5BF00 } .active-b-indigo:active{border-color:indigo}  .active-b-purple:active{border-color:purple}   .active-b-cyan:active{border-color:#23EAEA }  .active-b-red:active{border-color:#DC3546 }  

.active-b-blue:active{border-color:#0D6EFD}  .active-b-green:active{border-color:#25824F } .active-b-yellow:active{border-color:#FEC107} .active-b-night:active{border-color:#252525} .active-b-snow:active{border-color:white}  .active-b-gray:active{border-color:#757F8A}   .active-b-pink:active{border-color: hotpink}

.active-b-lemon:active{border-color: #B1E548}



.hover-b-trans:hover {border-color : transparent}
.hover-b:hover{border: 1px solid #C4C4C4} .hover-b2:hover{border: 2px solid #C4C4C4}  .hover-b3:hover{border: 3px solid #C4C4C4}.hover-b4:hover{border: 4px solid #C4C4C4}.hover-b5:hover{border: 5px solid #C4C4C4}.hover-b6:hover{border: 6px solid #C4C4C4}

.hover-b-orange:hover{border-color:orange}  .hover-b-gold:hover{border-color:#E5BF00 } .hover-b-indigo:hover{border-color:indigo}  .hover-b-purple:hover{border-color:purple}   .hover-b-cyan:hover{border-color:#23EAEA }  .hover-b-red:hover{border-color:#DC3546 }  .hover-b-blue:hover{border-color:#0D6EFD}  

.hover-b-green:hover{border-color:#25824F } .hover-b-yellow:hover{border-color:#FEC107} .hover-b-night:hover{border-color:#252525} .hover-b-snow:hover{border-color:white}  .hover-b-gray:hover{border-color:#757F8A}   .hover-b-pink:hover{border-color: hotpink}.hover-b-lemon:hover{border-color: #B1E548}



.focus-b-trans:focus {border-color : transparent}
.focus-b:focus{border: 1px solid #C4C4C4} .focus-b2:focus{border: 2px solid #C4C4C4}  .focus-b3:focus{border: 3px solid #C4C4C4}.focus-b4:focus{border: 4px solid #C4C4C4}.focus-b5:focus{border: 5px solid #C4C4C4}.focus-b6:focus{border: 6px solid #C4C4C4}

.focus-b-orange:focus{border-color:orange}  .focus-b-gold:focus{border-color:#E5BF00 } .focus-b-indigo:focus{border-color:indigo}  .focus-b-purple:focus{border-color:purple}   .focus-b-cyan:focus{border-color:#23EAEA }  .focus-b-red:focus{border-color:#DC3546 }  .focus-b-blue:focus{border-color:#0D6EFD}  

.focus-b-green:focus{border-color:#25824F } .focus-b-yellow:focus{border-color:#FEC107} .focus-b-night:focus{border-color:#252525} .focus-b-snow:focus{border-color:white}  .focus-b-gray:focus{border-color:#757F8A}   .focus-b-pink:focus{border-color: hotpink}.focus-b-lemon:focus{border-color: #B1E548} 







.ol{outline: 1px solid #C4C4C4} .ol2{outline: 2px solid #C4C4C4}  .ol3{outline: 3px solid #C4C4C4}.ol4{outline: 4px solid #C4C4C4}.ol5{outline: 5px solid #C4C4C4}.ol6{outline: 6px solid #C4C4C4}  
.ol-box {box-sizing: outline-box;}



.olb{outline-bottom: 1px solid #C4C4C4;}.olb2{outline-bottom : 2px solid #C4C4C4}  .olb3{outline-bottom : 3px solid #C4C4C4}.olb4{outline-bottom : 4px solid #C4C4C4}.olb5{outline-bottom : 5px solid #C4C4C4}.olb6{outline-bottom : 6px solid #C4C4C4}


.ol-trans {outline-color : transparent}

.ol-orange{outline-color:orange}.ol-orange10{outline-color:#FEA6001F}.ol-orange25{outline-color:#FEA60040}.ol-orange50{outline-color:#FEA60078}.ol-orange75{outline-color:#FEA6009E}

.ol-gold{outline-color:#E5BF00}.ol-gold10{outline-color:#E5BF0017}.ol-gold25{outline-color:#E5BF0038}.ol-gold50{outline-color:#E5BF0078}.ol-gold75{outline-color:#E5BF00B8}

.ol-purple{outline-color:purple}.ol-purple10{outline-color:#81007F1A}.ol-purple25{outline-color:#81007F42}.ol-purple50{outline-color:#81007F73}.ol-purple75{outline-color:#81007FAB}

.ol-cyan{outline-color:#23EAEA }.ol-cyan10{outline-color :#00FFFF1C}.ol-cyan25{outline-color :#00FFFF40}.ol-cyan50{outline-color :#00FFFF7D}.ol-cyan75{outline-color :#00FFFFBA}

.ol-indigo{outline-color:indigo}.ol-indigo10{outline-color:#4B00811C}.ol-indigo25{outline-color:#4B008140}.ol-indigo50{outline-color:#4B00817A}.ol-indigo75{outline-color:#4B0081AD}

.ol-red{outline-color:#DC3546}.ol-red10{outline-color:#DC35461C}.ol-red25{outline-color:#DC354645}.ol-red50{outline-color:#DC35467D}.ol-red75{outline-color:#DC3546C2}

.ol-yellow{outline-color:#FEC107 }.ol-yellow10{outline-color:#FEC1071F}.ol-yellow25{outline-color:#FEC1073D}.ol-yellow50{outline-color:#FEC1077A}.ol-yellow75{outline-color:#FEC107C2} 

.ol-green{outline-color : #25824F} .ol-green10{outline-color:#25824F1C} .ol-green25{outline-color:#25824F40}
.ol-green50{outline-color :#25824F78}.ol-green75{outline-color :#25824FBD}

.ol-blue{outline-color :#0D6EFD }.ol-blue10{outline-color: #0D6EFD1C}
.ol-blue25{outline-color :#0D6EFD42}.ol-blue50{outline-color :#0D6EFD7A}.ol-blue75{outline-color :#0D6EFDB8}

.ol-night{outline-color : #252525}.ol-ebony{outline-color : black}.ol-snow{outline-color :white}

.ol-gray{outline-color :#757F8A}.ol-gray10{outline-color :#757F8A1F}.ol-gray25{outline-color :#757F8A42}.ol-gray50{outline-color :#757F8A80}.ol-gray75{outline-color :#757F8ABA}

.ol-lemon{outline-color: #B1E548}.ol-lemon10{outline-color:#B1E5482E}.ol-lemon25{outline-color:#B1E5484D}.ol-lemon50{outline-color:#B1E5488A}.ol-lemon75{outline-color:#B1E548CF}

.ol-pink{outline-color: hotpink}.ol-pink10{outline-color:#FF69B31F}.ol-pink25{outline-color:#FF69B34A}.ol-pink50{outline-color:#FF69B385}.ol-pink75{outline-color:#FF69B3C4}






/*OUTLINE */
.active-ol-trans:active {outline-color : transparent}
.active-ol:active{outline: 1px solid #C4C4C4} .active-ol2:active{outline: 2px solid #C4C4C4}  .active-ol3:active{outline: 3px solid #C4C4C4}.active-ol4:active{outline: 4px solid #C4C4C4}.active-ol5:active{outline: 5px solid #C4C4C4}.active-ol6:active{outline: 6px solid #C4C4C4}

.active-ol-orange:active{outline-color:orange}  .active-ol-gold:active{outline-color:#E5BF00 } .active-ol-indigo:active{outline-color:indigo}  .active-ol-purple:active{outline-color:purple}   .active-ol-cyan:active{outline-color:#23EAEA }  .active-ol-red:active{outline-color:#DC3546 }  

.active-ol-blue:active{outline-color:#0D6EFD}  .active-ol-green:active{outline-color:#25824F } .active-ol-yellow:active{outline-color:#FEC107} .active-ol-night:active{outline-color:#252525} .active-ol-snow:active{outline-color:white}  .active-ol-gray:active{outline-color:#757F8A}   .active-ol-pink:active{outline-color: hotpink}

.active-ol-lemon:active{outline-color: #B1E548}



.hover-ol-trans:hover {outline-color : transparent}
.hover-ol:hover{outline: 1px solid #C4C4C4} .hover-ol2:hover{outline: 2px solid #C4C4C4}  .hover-ol3:hover{outline: 3px solid #C4C4C4}.hover-ol4:hover{outline: 4px solid #C4C4C4}.hover-ol5:hover{outline: 5px solid #C4C4C4}.hover-ol6:hover{outline: 6px solid #C4C4C4}

.hover-ol-orange:hover{outline-color:orange}  .hover-ol-gold:hover{outline-color:#E5BF00 } .hover-ol-indigo:hover{outline-color:indigo}  .hover-ol-purple:hover{outline-color:purple}   .hover-ol-cyan:hover{outline-color:#23EAEA }  .hover-ol-red:hover{outline-color:#DC3546 }  .hover-ol-blue:hover{outline-color:#0D6EFD}  

.hover-ol-green:hover{outline-color:#25824F } .hover-ol-yellow:hover{outline-color:#FEC107} .hover-ol-night:hover{outline-color:#252525} .hover-ol-snow:hover{outline-color:white}  .hover-ol-gray:hover{outline-color:#757F8A}   .hover-ol-pink:hover{outline-color: hotpink}.hover-ol-lemon:hover{outline-color: #B1E548}



.focus-ol-trans:focus {outline-color : transparent}
.focus-ol:focus{outline: 1px solid #C4C4C4} .focus-ol2:focus{outline: 2px solid #C4C4C4}  .focus-ol3:focus{outline: 3px solid #C4C4C4}.focus-ol4:focus{outline: 4px solid #C4C4C4}.focus-ol5:focus{outline: 5px solid #C4C4C4}.focus-ol6:focus{outline: 6px solid #C4C4C4}

.focus-ol-orange:focus{outline-color:orange}  .focus-ol-gold:focus{outline-color:#E5BF00 } .focus-ol-indigo:focus{outline-color:indigo}  .focus-ol-purple:focus{outline-color:purple}   .focus-ol-cyan:focus{outline-color:#23EAEA }  .focus-ol-red:focus{outline-color:#DC3546 }  .focus-ol-blue:focus{outline-color:#0D6EFD}  

.focus-ol-green:focus{outline-color:#25824F } .focus-ol-yellow:focus{outline-color:#FEC107} .focus-ol-night:focus{outline-color:#252525} .focus-ol-snow:focus{outline-color:white}  .focus-ol-gray:focus{outline-color:#757F8A}   .focus-ol-pink:focus{outline-color: hotpink}.focus-ol-lemon:focus{outline-color: #B1E548}