.w10{width:10%}.w20{width:20%}.w25{width:25%}.w30 {width:30%}.w40{width:40%}.w60{width:60%}.w50{width:50%}.w70{width:70%}.w80{width:80%}.w75{width:75%}.w90{width:90%}.w100{width:100%}.w25vw{width:25vw}.w50vw{width:50vw}.w75vw{width:75vw}.w100vw{width:100vw}.w1fr{width:1fr}.w2fr{width:2fr}.w3fr{width:3fr}

.w50px{width:50px}.w100px{width:100px}.w150px{width:150px}.w200px{width:200px}.w250px{width:250px}.w300px{width:300px}.w350px{width:350px}.w400px{width:400px}.w450px{width:450px}.w500px{width:500px}.w550px{width:550px}.w600px{width:600px}

.mw-10{max-width: 10%;}


@media(min-width:580px){.w10-sm{width:10%}.w20-sm{width:20%}.w25-sm{width:25%}.w30-sm{width:30%}.w40-sm{width:40%}.w50-sm{width:50%}.w60-sm{width:60%}.w70-sm{width:70%}.w75-sm{width:75%}.w80-sm{width:80%}.w90-sm{width:90%}.w100-sm{width:100%}.w25vw-sm{width:25vw}.w50vw-sm{width:50vw}.w75vw-sm{width:75vw}.w100vw-sm{width:100vw}.w1fr-sm{width:1fr}.w2fr-sm{width:2fr}.w3fr-sm{width:3fr}

.w50px-sm{width:50px}.w100px-sm{width:100px}.w150px-sm{width:150px}.w200px-sm{width:200px}.w250px-sm{width:250px}.w300px-sm{width:300px}.w350px-sm{width:350px}.w400px-sm{width:400px}.w450px-sm{width:450px}.w500px-sm{width:500px}.w550px-sm{width:550px}.w600px-sm{width:600px}
}


@media(min-width:780px){.w10-md{width:10%}.w20-md{width:20%}.w25-md{width:25%}.w30-md{width:30%}.w40-md{width:40%}.w50-md{width:50%}.w60-md{width:60%}.w70-md{width:70%}.w75-md{width:75%}.w80-md{width:80%}.w90-md{width:90%}.w100-md{width:100%}.w25vw-md{width:25vw}.w50vw-md{width:50vw}.w75vw-md{width:75vw}.w100vw-md{width:100vw}.w1fr-md{width:1fr}.w2fr-md{width:2fr}.w3fr-md{width:3fr}

.w50px-md{width:50px}.w100px-md{width:100px}.w150px-md{width:150px}.w200px-md{width:200px}.w250px-md{width:250px}.w300px-md{width:300px}.w350px-md{width:350px}.w400px-md{width:400px}.w450px-md{width:450px}.w500px-md{width:500px}.w550px-md{width:550px}.w600px-md{width:600px}
}


@media(min-width:990px) {.w10-lg{width:10%}.w20-lg{width:20%}.w25-lg{width:25%}.w30-lg{width:30%}.w40-lg{width:40%}.w50-lg{width:50%}.w60-lg{width:60%}.w70-lg{width:70%}.w75-lg{width:75%}.w80-lg{width:80%}.w90-lg{width:90%}.w100-lg{width:100%}.w25vw-lg{width:25vw}.w50vw-lg{width:50vw}.w75vw-lg{width:75vw}.w100vw-lg{width:100vw}.w1fr-lg{width:1fr}.w2fr-lg{width:2fr}.w3fr-lg{width:3fr}

.w50px-lg{width:50px}.w100px-lg{width:100px}.w150px-lg{width:150px}.w200px-lg{width:200px}.w250px-lg{width:250px}.w300px-lg{width:300px}.w350px-lg{width:350px}.w400px-lg{width:400px}.w450px-lg{width:450px}.w500px-lg{width:500px}.w550px-lg{width:550px}.w600px-lg{width:600px}
} 






.h10{height:10%}.h20{height:20%}.h30{height:30%}.h40{height:40%}.h50{height :50%}.h60{height:60%}.h70{height:70%}.h80{height:80%}.h90{height:90%}.h100{height :100%}.h25vh{height:25vh}.h50vh{height:50vh}.h75vh{height:75vh}.h100vh{height:100vh}

.h50px{height:50px}.h100px{height:100px}.h150px{height:150px}.h200px{height:200px}.h250px{height:250px}.h300px{height:300px}.h350px{height:350px}.h400px{height:400px}.h450px{height:450px}.h500px{height:500px}.h550px{height:550px}.h600px{height:600px}


@media(min-width:580px){.h10-sm{height:10%}.h20-sm{height:20%}.h25-sm{height:25%}.h30-sm{height:30%}.h40-sm{height:40%}.h50-sm{height:50%}.h60-sm{height:60%}.h70-sm{height:70%}.h75-sm{height:75%}.h80-sm{height:80%}.h90-sm{height:90%}.h100-sm{height:100%}.h25vh-sm{height:25vh}.h50vh-sm{height:50vh}.h75vh-sm{height:75vh}.h100vh-sm{height:100vh}
 
.h50px-sm{height:50px}.h100px-sm{height:100px}.h150px-sm{height:150px}.h200px-sm{height:200px}.h250px-sm{height:250px}.h300px-sm{height:300px}.h350px-sm{height:350px}.h400px-sm{height:400px}.h450px-sm{height:450px}.h500px-sm{height:500px}.h550px-sm{height:550px}.h600px-sm{height:600px}
}


@media(min-width:780px){.h10-md{height:10%}.h20-md{height:20%}.h25-md{height:25%}.h30-md{height:30%}.h40-md{height:40%}.h50-md{height:50%}.h60-md{height:60%}.h70-md{height:70%}.h75-md{height:75%}.h80-md{height:80%}.h90-md{height:90%}.h100-md{height:100%}.h25vh-md{height:25vh}.h50vh-md{height:50vh}.h75vh-md{height:75vh}.h100vh-md{height:100vh}
 
.h50px-md{height:50px}.h100px-md{height:100px}.h150px-md{height:150px}.h200px-md{height:200px}.h250px-md{height:250px}.h300px-md{height:300px}.h350px-md{height:350px}.h400px-md{height:400px}.h450px-md{height:450px}.h500px-md{height:500px}.h550px-md{height:550px}.h600px-md{height:600px}
} 


@media(min-width:990px) {.h10-lg{height: 10%}.h20-lg{height:20%}.h25-lg{height:25%}.h30-lg{height:30%}.h40-lg{height:40%}.h50-lg{height:50%}.h60-lg{height:60%}.h70-lg{height:70%}.h75-lg{height:75%}.h80-lg{height:80%}.h90-lg{height:90%}.h100-lg{height:100%}.h25vh-lg{height:25vh}.h50vh-lg{height:50vh}.h75vh-lg{height:75vh}.h100vh-lg{height:100vh}
.h50px-lg{height:50px}.h100px-lg{height:100px}.h150px-lg{height:150px}.h200px-lg{height:200px}.h250px-lg{height:250px}.h300px-lg{height:300px}.h350px-lg{height:350px}.h400px-lg{height:400px}.h450px-lg{height:450px}.h500px-lg{height:500px}.h550px-lg{height:550px}.h600px-lg{height:600px}
} 