input, select, textarea{outline:none; background-color:inherit; padding-inline:13px; height:37px} textarea, input::placeholder{opacity:0.25;color: inherit} .option{opacity:0.25} textarea{height:200px; padding-block:7px}



/*select*/
.select-blue[type="radio"]:checked, .select-blue[type="checkbox"]:checked{border: 1px solid #0D6EFD;} .select-blue[type="radio"]::before, .select-blue[type="checkbox"]::before{background-color: #0D6EFD} 

.select-red[type="radio"]:checked, .select-red[type="checkbox"]:checked{border: 1px solid #DC3546;} .select-red[type="radio"]::before, .select-red[type="checkbox"]::before{background-color: #DC3546} 

.select-yellow[type="radio"]:checked, .select-yellow[type="checkbox"]:checked{border: 1px solid #FEC107;} .select-yellow[type="radio"]::before, .select-yellow[type="checkbox"]::before{background-color: #FEC107}  


input[type="radio"]{
  appearance: none;
  border: 1px solid #A4A4A4;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative; padding-inline:0;
}
input[type="radio"]::before{
  content: "";
  width:15px;
  height: 15px;
  transform: translate(-50%, -50%)  scale(0);
  background-color: limegreen;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 0.1s ease-in-out;
  border-radius: 50%;
}
input[type="radio"]:checked::before{
  transform: translate(-50%, -50%) scale(1);
}
input[type="radio"]:checked{
  border: 1px solid limegreen;
}








.focus-input:focus{background-color: transparent}
