input, select, textarea{outline:none; background-color:inherit; padding-inline:13px;} textarea, input::placeholder{opacity:0.25;color: inherit} .option{opacity:0.25} textarea{height:200px; padding-block:7px}
.input{height: 37px}


.focus-input:focus{background-color: transparent}
